h2
{
 font: 16px verdana;
 color: #cc0000;
 font-weight: bold;
}

form, span
{
 padding: 0px 0px 0px 0px;
 margin:  0px 0px 0px 0px;
}

pre
{
 font: 14px verdana;
}

input, select
{
 border-top:    1px solid #aaaaaa;
 border-bottom: 1px solid black;
 border-left:   1px solid #aaaaaa;
 border-right:  1px solid black;
}

.error
{
 color: red ! important;
}

.selector
{
 border: none;
 font: 12px courier new;
 background-image: url(./bgrd_default.gif);
 background-repeat: repeat;
 background-color: #F3F8FF ! important;
}

.ibutton
{

}

.header
{
 background-color: black;
 color: gold;
 font-weight: bold;
}

.dir_sel
{
 border: none;
 width: 255px;
 background-color: black;
 color: white;
}

.sitemsg
{
 text-align: right; 
 width: 250px; 
 border: none; 
 margin-top: 2px; 
 background-color: transparent; 
 color: #cc0000;
}
