/*.evo-sprite { background-image: url(images/evo-sprite.png); background-repeat: no-repeat; display: inline-block; cursor: pointer; }
.evo-sprite.active { background-position: 0px 0px; width: 16px; height: 16px;  } 
.evo-sprite.community { background-position: 0px -18px; width: 16px; height: 16px;  } 
.evo-sprite.deactive { background-position: 0px -36px; width: 16px; height: 16px;  } 
.evo-sprite.default { background-position: 0px -54px; width: 16px; height: 16px;  } 
.evo-sprite.deletecat { background-position: 0px -72px; width: 16px; height: 17px;  } 
.evo-sprite.delete { background-position: 0px -91px; width: 16px; height: 16px;  } 
.evo-sprite.delete:hover { background-position: 0px -109px; width: 16px; height: 16px;  } 
.evo-sprite.edit { background-position: 0px -127px; width: 16px; height: 16px;  } 
.evo-sprite.edit:hover { background-position: 0px -145px; width: 16px; height: 16px;  } 
.evo-sprite.facebook { background-position: 0px -163px; width: 16px; height: 16px;  } 
.evo-sprite.facebook:hover { background-position: 0px -181px; width: 16px; height: 16px;  } 
.evo-sprite.folder_closed { background-position: 0px -199px; width: 16px; height: 16px;  } 
.evo-sprite.folder_open { background-position: 0px -217px; width: 16px; height: 16px;  } 
.evo-sprite.general { background-position: 0px -235px; width: 16px; height: 16px;  } 
.evo-sprite.home { background-position: 0px -253px; width: 16px; height: 16px;  } 
.evo-sprite.info { background-position: 0px -271px; width: 16px; height: 16px;  } 
.evo-sprite.info:hover { background-position: 0px -289px; width: 16px; height: 16px;  }
.evo-sprite.info-right { background-position: 0px -271px; width: 16px; height: 16px; cursor: help; float: right; } 
.evo-sprite.info-right:hover { background-position: 0px -289px; width: 16px; height: 16px; cursor: help; float: right; } 
.evo-sprite.magnify { background-position: 0px -307px; width: 16px; height: 16px;  } 
.evo-sprite.members { background-position: 0px -325px; width: 16px; height: 16px;  } 
.evo-sprite.minus { background-position: 0px -343px; width: 9px; height: 9px;  } 
.evo-sprite.plus { background-position: 0px -354px; width: 9px; height: 9px;  } 
.evo-sprite.news { background-position: 0px -365px; width: 16px; height: 16px;  } 
.evo-sprite.poll { background-position: 0px -383px; width: 16px; height: 16px;  } 
.evo-sprite.preview { background-position: 0px -401px; width: 16px; height: 16px;  } 
.evo-sprite.print { background-position: 0px -419px; width: 16px; height: 16px;  } 
.evo-sprite.shield_red { background-position: 0px -437px; width: 16px; height: 16px;  } 
.evo-sprite.sort_down { background-position: 0px -455px; width: 16px; height: 16px;  } 
.evo-sprite.sort_up { background-position: 0px -473px; width: 16px; height: 16px;  } 
.evo-sprite.thumb_down { background-position: 0px -491px; width: 16px; height: 16px;  } 
.evo-sprite.thumb_up { background-position: 0px -509px; width: 16px; height: 16px;  } 
.evo-sprite.checked { background-position: 0px -527px; width: 16px; height: 16px;  } 
.evo-sprite.unchecked { background-position: 0px -545px; width: 16px; height: 16px;  } 
.evo-sprite.view { background-position: 0px -563px; width: 16px; height: 16px;  } 
.evo-sprite.view:hover { background-position: 0px -581px; width: 16px; height: 16px;  } 
.evo-sprite.required { background-position: 0px -599px; width: 16px; height: 16px; cursor: help;  } 
.evo-sprite.required:hover { background-position: 0px -617px; width: 16px; height: 16px; cursor: help  }
.evo-sprite.required-right { background-position: 0px -599px; width: 16px; height: 16px; cursor: help; float: right;  } 
.evo-sprite.required-right:hover { background-position: 0px -617px; width: 16px; height: 16px; cursor: help; float: right;  } 
.evo-sprite.web { background-position: 0px -635px; width: 16px; height: 16px;  } 
.evo-sprite.zip { background-position: 0px -653px; width: 16px; height: 16px;  } 
.evo-sprite.female { background-position: 0px -671px; width: 16px; height: 16px;  } 
.evo-sprite.male { background-position: 0px -689px; width: 16px; height: 16px;  } 
.evo-sprite.www { background-position: 0px -707px; width: 16px; height: 16px;  } 
.evo-sprite.www:hover { background-position: 0px -725px; width: 16px; height: 16px;  } 
.evo-sprite.pm { background-position: 0px -743px; width: 16px; height: 16px;  } 
.evo-sprite.pm:hover { background-position: 0px -761px; width: 16px; height: 16px;  }*/ 

.evo-sprite { background: url('images/evo-sprite-1x.png'); background-size: auto; background-repeat: no-repeat; display: inline-block; width: 20px; height: 20px; vertical-align: bottom; }
.evo-sprite.cancel { background-position: 0px 0px; }
.evo-sprite.edit { background-position: 0px -22px; }
.evo-sprite.ok { background-position: 0px -44px; }
.evo-sprite.delete { background-position: 0px -66px; }
.evo-sprite.trash { background-position: 0px -88px; }
.evo-sprite.trash-2 { background-position: 0px -110px; }
.evo-sprite.facebook { background-position: 0px -132px; }
.evo-sprite.folder { background-position: 0px -154px; }
.evo-sprite.folder-live { background-position: 0px -176px; }
.evo-sprite.home { background-position: 0px -198px;  } 
.evo-sprite.about { background-position: 0px -221px;  } 
.evo-sprite.good { background-position: 0px -243px;  } 
.evo-sprite.bad { background-position: 0px -264px;  } 
.evo-sprite.print { background-position: 0px -287px;  } 
.evo-sprite.expand { background-position: 0px -309px;  } 
.evo-sprite.security { background-position: 0px -331px;  } 
.evo-sprite.unchecked { background-position: 0px -353px;  } 
.evo-sprite.checked { background-position: 0px -375px;  } 
.evo-sprite.search { background-position: 0px -396px;  } 
.evo-sprite.globe { background-position: 0px -418px;  } 
.evo-sprite.folder-archive { background-position: 0px -440px;  } 
.evo-sprite.sort-down { background-position: 0px -462px;  } 
.evo-sprite.sort-up { background-position: 0px -484px;  } 
.evo-sprite.collapse-down { background-position: 0px -506px;  } 
.evo-sprite.collapse-up { background-position: 0px -528px;  } 
.evo-sprite.gender-neutral { background-position: 0px -550px;  } 
.evo-sprite.female { background-position: 0px -572px;  } 
.evo-sprite.male { background-position: 0px -594px;  } 
.evo-sprite.mail { background-position: 0px -616px;  } 
.evo-sprite.help { background-position: 0px -638px;  }

.evo-sprite.like { background-position: 0px -659px;  }
.evo-sprite.dislike { background-position: 0px -681px;  }

.evo-sprite.float-right { float: right; }

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
	.evo-sprite { background: url('images/evo-sprite-2x.png'); background-size: 20px 700px; background-repeat: no-repeat; display: inline-block; width: 20px; height: 20px; vertical-align: bottom; }
}